Repository tashfiqul-islam/profile-weather-view: changes, and which lefthook commands are due for each by the changed paths.
All: format, typecheck

lefthook.yml:

# Lefthook Configuration - Modern Developer Experience 2025
min_version: "2.0.1"

# Clean, minimal output for better UX (2025 standards)
output:
  - execution
  - failure
  - summary

# Pre-commit hooks - Fast parallel execution
pre-commit:
  parallel: true
  commands:
    # Code formatting and linting
    format:
      run: bunx ultracite fix {staged_files}
      stage_fixed: true
      glob: "*.{ts,tsx,js,jsx,json,jsonc,md,mdx,css,scss,toml,yml,yaml}"
      fail_text: "❌ Code formatting issues found. Run 'bun run format' to fix."
    
    # Type checking
    typecheck:
      run: bun run type-check
      glob: "*.{ts,tsx}"
      fail_text: "❌ TypeScript errors found. Fix before committing."
    
    # Run tests for staged files only
    test:
      run: PRETTY_TEST_TITLE="Pre-commit Tests" bun run test:fast
      skip:
        - merge
        - rebase
      fail_text: "❌ Tests failed. Fix issues before committing."

# Commit message validation
commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}
      fail_text: "❌ Commit message doesn't follow conventional commits format."

# Interactive commit message builder
prepare-commit-msg:
  commands:
    commitizen:
      interactive: true
      run: bunx commitizen --hook
      env:
        LEFTHOOK: "0"

# Pre-push quality gates
pre-push:
  parallel: true
  commands:
    # Quick type check before push
    typecheck:
      run: bun run type-check
      fail_text: "❌ TypeScript errors found. Fix before pushing."
    
    # Run full test suite before push
    test:
      run: PRETTY_TEST_TITLE="Pre-push Tests" bun run test:fast
      fail_text: "❌ Tests failed. Fix issues before pushing."

chore(release): v2.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  5ed302d5602655370d6347d165e42c622b67d8f4
Due: none

fix(ci): updated config for efficient CICD
  .github/workflows/renovate-validate.yml
  .github/workflows/sync-readme-tech-stack.yml
  README.md
  bun.lock
  package.json
Due: format

docs(readme): sync tech stack badges and footer date [skip actions]
  README.md
Due: format

feat(core): support multi format readme
  README.md
  commitlint.config.mts
  src/docs/ARCHITECTURE.md
  src/docs/DEVELOPMENT.md
  src/docs/UNIT_TESTS.md
  src/scripts/sync-readme-tech-stack.ts
  src/scripts/test-pretty.ts
  src/tests/unit/services/fetch-weather.test.ts
  src/tests/unit/services/update-readme.test.ts
  src/weather-update/index.ts
  src/weather-update/services/fetch-weather.ts
  src/weather-update/services/update-readme.ts
  src/weather-update/services/wmo-mapper.ts
  src/weather-update/utils/preload.ts
  tsconfig.json
Due: format, typecheck

ci: removed unnecessary test scripts
  .github/workflows/profile-weather-update.yml
  .github/workflows/semantic-release.yml
  src/scripts/test-pretty.ts
Due: format, typecheck

fix(ci): removed unnecessary test script
  lefthook.yml
Due: format

fix: fixed gha test failures
  src/tests/unit/utils/preload.test.ts
  src/weather-update/services/fetch-weather.ts
  src/weather-update/services/update-readme.ts
  src/weather-update/utils/preload.ts
Due: format, typecheck

fix: added ultracite configs
  bun.lock
  package.json
Due: format

fix(config): remove dotenv, fix packageManager, linker=isolated, Bun native
  .github/workflows/profile-weather-update.yml
  .github/workflows/renovate-validation.yml
  .github/workflows/semantic-release.yml
  .github/workflows/sync-readme-tech-stack.yml
  bun.lock
  bunfig.toml
  commitlint.config.mts
  package.json
  src/scripts/sync-readme-tech-stack.ts
  src/tests/setup.ts
  src/weather-update/index.ts
  src/weather-update/services/fetch-weather.ts
  src/weather-update/services/update-readme.ts
  src/weather-update/services/wmo-mapper.ts
  src/weather-update/utils/preload.ts
Due: format, typecheck

refactor(core): extract shared logger module from index
  src/weather-update/index.ts
  src/weather-update/utils/logger.ts
Due: format, typecheck

refactor(core): route all service logging through logger module
  src/tests/unit/utils/preload.test.ts
  src/weather-update/services/fetch-weather.ts
  src/weather-update/services/update-readme.ts
  src/weather-update/utils/preload.ts
Due: format, typecheck

fix(core): derive UTC offset dynamically, remove hardcoded UTC+6
  src/scripts/sync-readme-tech-stack.ts
  src/weather-update/services/update-readme.ts
Due: format, typecheck

refactor(utils): replace new Date() with Temporal in preload
  src/tests/unit/utils/preload.test.ts
  src/weather-update/utils/preload.ts
Due: format, typecheck

fix(test): replace OpenWeatherMap mock with Open-Meteo format
  src/tests/setup.ts
  src/tests/unit/basic.test.ts
  src/tests/utils/weather-test-helpers.ts
Due: format, typecheck

fix(config): scope weather preload to start/dev scripts only
  bunfig.toml
  package.json
Due: format

perf(types): upgrade Zod .describe() to .meta() across all schemas
  src/weather-update/services/fetch-weather.ts
  src/weather-update/services/update-readme.ts
  src/weather-update/utils/preload.ts
Due: format, typecheck

test(test): add Symbol.asyncDispose helper, guard bun audit in CI
  .github/workflows/semantic-release.yml
  src/tests/setup.ts
Due: format, typecheck

ci(actions): upgrade all workflow actions to latest 2026 versions
  .github/workflows/profile-weather-update.yml
  .github/workflows/renovate-validation.yml
  .github/workflows/semantic-release.yml
  .github/workflows/sync-readme-tech-stack.yml
Due: format

ci(actions): deep 2026 architecture improvements to all workflows
  .github/workflows/profile-weather-update.yml
  .github/workflows/renovate-validation.yml
  .github/workflows/semantic-release.yml
  .github/workflows/sync-readme-tech-stack.yml
Due: format

docs(ai): add CLAUDE.md, AGENTS.md, copilot-instructions; update README
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  README.md
Due: format

docs(copilot): add path-specific instructions and prompt files per 2026 Copilot docs
  .github/copilot-instructions.md
  .github/instructions/tests.instructions.md
  .github/instructions/typescript.instructions.md
  .github/instructions/workflows.instructions.md
  .github/prompts/add-test.prompt.md
  .github/prompts/fix-failing-test.prompt.md
  .github/prompts/new-service.prompt.md
Due: format

chore(deps): update dev dependencies and align configs with latest docs
  .github/workflows/profile-weather-update.yml
  .github/workflows/renovate-validation.yml
  .github/workflows/semantic-release.yml
  .github/workflows/sync-readme-tech-stack.yml
  bun.lock
  lefthook.yml
  package.json
  renovate.json
  src/weather-update/services/fetch-weather.ts
  src/weather-update/utils/preload.ts
  tsconfig.json
Due: format, typecheck

refactor: update to typescript v6
  .github/copilot-instructions.md
  .github/instructions/workflows.instructions.md
  .gitignore
  .releaserc.js
  AGENTS.md
  CLAUDE.md
  README.md
  SKILL.md
  bun.lock
  package.json
  src/scripts/sync-readme-tech-stack.ts
  src/tests/setup.ts
  src/tests/unit/services/fetch-weather.test.ts
  src/tests/unit/services/update-readme.test.ts
  src/tests/utils/weather-test-helpers.ts
  src/weather-update/index.ts
  src/weather-update/services/update-readme.ts
  src/weather-update/services/wmo-mapper.ts
  src/weather-update/utils/logger.ts
  tsconfig.json
Due: format, typecheck

fix: stale preload data fix
  src/tests/unit/services/update-readme.test.ts
  src/tests/unit/utils/preload.test.ts
Due: format, typecheck

refactor: modernize codebase architecture and tooling
  .github/copilot-instructions.md
  .github/workflows/profile-weather-update.yml
  .github/workflows/semantic-release.yml
  .gitignore
  .releaserc.js
  .releaserc.json
  AGENTS.md
  CLAUDE.md
  README.md
  SKILL.md
  biome.jsonc
  bunfig.toml
  commitlint.config.mts
  commitlint.config.ts
  lefthook.yml
  package.json
  src/scripts/sync-readme-tech-stack.ts
  src/tests/unit/config.test.ts
  src/tests/unit/index.test.ts
  src/tests/unit/services/fetch-weather.test.ts
  src/tests/unit/services/update-readme.test.ts
  src/tests/unit/services/wmo-mapper.test.ts
  src/tests/unit/utils/logger.test.ts
  src/tests/unit/utils/preload.test.ts
  src/weather-update/config.ts
  src/weather-update/index.ts
  src/weather-update/services/fetch-weather.ts
  src/weather-update/services/update-readme.ts
  src/weather-update/utils/logger.ts
  src/weather-update/utils/preload.ts
Due: format, typecheck

fix(hooks): remove duplicate test run from pre-commit
  lefthook.yml
Due: format

fix(ci): accept bc output without leading zero in response time validation
  .github/workflows/profile-weather-update.yml
Due: format

docs(release): add release notes for v3.2.0
  CHANGELOG.md
Due: format

fix(release): remove parserOpts that override conventionalcommits preset
  .releaserc.json
Due: format

fix(release): add effect field to presetConfig types for changelog generation
  .releaserc.json
  CHANGELOG.md
Due: format

fix(release): simplify release-notes-generator to use preset defaults
  .releaserc.json
Due: format

fix(release): add conventional-changelog-conventionalcommits as direct dep
  bun.lock
  package.json
Due: format

fix(release): use bunx instead of npx for semantic-release
  .github/workflows/semantic-release.yml
Due: format

fix(ci): update profile repo branch to main, fix changelog generation
  .github/workflows/profile-weather-update.yml
  .releaserc.json
  CHANGELOG.md
  CLAUDE.md
Due: format

fix(release): pin conventionalcommits preset to fix empty changelog
  .releaserc.json
  bun.lock
  package.json
Due: format

docs(release): backfill missing v3.2.6 changelog entry
  CHANGELOG.md
Due: format
